---
import MainLayout from "../layouts/MainLayout.astro";
import LogoBar from "../components/LogoBar.astro";
---

<MainLayout title="Om os">
  <main>
    <article class="hero_index">
      <div class="hero_items">
        <h1>HVEM ER VI?</h1>
        <p>Opdag hvad der driver os til at levere den bedste bilplejeoplevelse</p>
      </div>
    </article>
    <LogoBar />
    <article class="about_galleri galleri1"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem iure fugit magnam. Consectetur tenetur ratione, reiciendis corporis quasi autem qui. Similique totam animi, et quia tenetur fugiat delectus iste. Minus!</p></article>
    <article class="about_galleri galleri2"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem iure fugit magnam. Consectetur tenetur ratione, reiciendis corporis quasi autem qui. Similique totam animi, et quia tenetur fugiat delectus iste. Minus!</p></article>
    <article class="about_galleri galleri3"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem iure fugit magnam. Consectetur tenetur ratione, reiciendis corporis quasi autem qui. Similique totam animi, et quia tenetur fugiat delectus iste. Minus!</p></article>
    <div class="max_width">
      <section class="kontaktos">
        <h2>SKAL VI TAGE OS AF DIN BIL?</h2>
        <div class="btn cta_dark"><a href="/contact">KONTAKT OS NU</a></div>
      </section>
    </div>
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("/productsinhand.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }
  .hero_items {
    grid-row: 2/3;
    margin-left: 1rem;
    align-self: end;
    padding-bottom: 8rem;
  }

  .hero_index p {
    display: none;
  }

  .about_galleri {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    color: var(--primary-background-color);
  }

  .about_galleri p {
    max-width: 65ch;
    text-align: center;
    margin: auto;
  }

  .galleri1 {
    background-image: url("/aboutback.avif");
    background-position: 20%;
  }

  .galleri2 {
    background-image: url("/aboutwash.avif");
    background-position: 80%;
  }
  .galleri3 {
    background-image: url("/aboutinterior.avif");
    background-position: 20%;
  }
  .kontaktos {
    text-align: center;
  }

  .kontaktos h2 {
    margin-bottom: 2rem;
  }
  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 1rem 0;
    }

    .hero_index {
      grid-template-columns: 2fr 1fr;
    }
    .hero_items {
      grid-column: 2/3;
    }
  }
</style>
