---
import MainLayout from "../layouts/MainLayout.astro";
import LogoBar from "../components/LogoBar.astro";
import AndreasOm from "../components/Andreas_Om.astro";
---

<MainLayout title="Kontakt">
  <main>
    <article class="hero_index">
      <div class="hero_items">
        <h1>KONTAKT OS NU!</h1>
        <p>Tag det første skridt mod en skinnende ren bil ved at kontakte os i dag!</p>
      </div>
    </article>
    <LogoBar />
    <div class="max_width">
      <AndreasOm />
      <section class="s1">
        <h1 class="find_h1 scroll_animation">FIND OS HER!</h1>

        <div class="container scroll_animation">
          <div class="icn_adr">
            <img class="icn" src="/public/vector4.svg" alt="" />
            <div class="adr">
              <a href="https://www.google.com/maps/place/Aved%C3%B8reholmen+68,+2650+Hvidovre/@55.6114216,12.4641239,17z/data=!3m1!4b1!4m6!3m5!1s0x465255d303d90647:0x7c9d05c750540e2d!8m2!3d55.6114216!4d12.4666988!16s%2Fg%2F11bw426261?entry=ttu">Avedøreholmen 68, 2650 Hvidovre</a>
            </div>
          </div>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2253.459230576489!2d12.46412387720055!3d55.611424602871296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465255d303d90647%3A0x7c9d05c750540e2d!2sAved%C3%B8reholmen%2068%2C%202650%20Hvidovre!5e0!3m2!1sen!2sdk!4v1716798348544!5m2!1sen!2sdk" width="400" height="650" style="border:0;" allowfullscreen="n" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </section>
    </div>
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("/licenseplate.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }
  .hero_items {
    grid-row: 3/4;
    margin-left: 1rem;
    align-self: end;
    padding-bottom: 8rem;
  }

  .hero_index p {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  .icn_adr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .icn {
    width: 20px;
  }
  .find_h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }

  .adr {
    text-align: center;
    font-family: "latoregular";
  }

  .map {
    border-radius: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
  }

  a {
    text-decoration: underline;
    color: var(--contrast-color);
  }

  iframe {
    width: 100%;
    border-radius: 15px;
  }

  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 1rem 0;
    }

    .map iframe {
    }
    .map {
      order: -1;
    }
  }
</style>
