---
import MainLayout from "../layouts/MainLayout.astro";
import LogoBar from "../components/LogoBar.astro";
import PakkeCard from "../components/PakkeCard.astro";
import Img_slider from "../components/Img_slider.astro";

const data = await fetch("https://cpfdvhmcyoaqdogvqgow.supabase.co/rest/v1/pakker?order=id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZmR2aG1jeW9hcWRvZ3ZxZ293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1Mzg2ODcsImV4cCI6MjAzMjExNDY4N30.y9HAllaBKICo_O4VFd_a5PqpeNenzQvRYlsBkHt2Iqg",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout title="Copenhagen Detailing">
  <main>
    <section class="hero_index">
      <div class="hero_items">
        <h1>RENERE END ALDRIG FØR</h1>
        <p>Komplet bilpleje, der beskytter og fornyer din bils udseende og værdi!</p>
        <div class="hero_cta btn cta"><a href="/contact">KONTAKT OS OG HØR MERE</a></div>
        <div class="hero_ghost btn ghost"><a href="/contact">SERVICES VI TILBYDER</a></div>
      </div>
    </section>
    <div class="logobar"><LogoBar /></div>
    <article class="testimonials">
      <div class="testimony">
        <p>"Fantastisk udvendig rengøring! Bilen ser helt ny ud efter behandlingen."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
      <div class="testimony">
        <p>"Rat og dashboard rengøringen gjorde en stor forskel! Det føles som om jeg kører i en helt ny bil."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
      <div class="testimony">
        <p>"Interiørplejen var en game changer! Kabine lugter frisk og føles som om den er blevet løftet."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
    </article>
    <div class="max_width">
      <section>
        <div class="pakker">
          <h2>PAKKELØSNINGER</h2>
          <p>Vi tilbyder bilplejepakker i Bronze, Sølv, Guld og Platin. Vælg din perfekte pleje!</p>
        </div>
        <article class="pakkelist">
          {
            data.map((pakke) => {
              return <PakkeCard data={pakke} />;
            })
          }
        </article>
      </section>
    </div>
    <Img_slider />
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("polishing.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }

  .hero_items {
    grid-row: 2/3;
    margin-left: 1rem;
  }

  .hero_index p {
    display: none;
  }

  .testimonials {
    display: none;
  }

  .pakker {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .pakker h2 {
    margin-bottom: 1rem;
  }

  .pakkelist {
    display: grid;
    gap: 20px;
    justify-content: center;
  }

  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 2rem 0;
      max-width: 35ch;
    }

    .hero_index {
      grid-template-columns: 1fr 1fr 2fr;
    }

    .hero_items {
      grid-column: 2/4;
      align-self: end;
    }

    .testimonials {
      display: flex;
      text-align: center;
      padding: 3rem;
      background-color: var(--contrast-color);
    }
    .testimonials img {
      width: 30px;
      align-self: center;
      margin-top: 1rem;
    }

    .testimony {
      display: flex;
      flex-direction: column;
      color: var(--primary-background-color);
      padding: 0 2rem;
    }

    .logobar {
      display: none;
    }

    .pakkelist {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1000px;
      margin: auto;
    }
  }
</style>
