---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Copenhagen Detailing">
  <main>
    <section class="hero_index">
      <div class="hero_items">
        <h1>RENERE END ALDRIG FØR</h1>
        <p>Komplet bilpleje, der beskytter og fornyer din bils udseende og værdi!</p>
        <div class="btn_flex">
          <div class="btn cta"><a href="/contact">KONTAKT OS OG HØR MERE</a></div>
          <div class="btn ghost"><a href="/contact">SERVICES VI TILBYDER</a></div>
        </div>
      </div>
    </section>
    <article class="testimonials">
      <div class="testimony">
        <p>"Fantastisk udvendig rengøring! Bilen ser helt ny ud efter behandlingen."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
      <div class="testimony">
        <p>"Rat og dashboard rengøringen gjorde en stor forskel! Det føles som om jeg kører i en helt ny bil."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
      <div class="testimony">
        <p>"Interiørplejen var en game changer! Kabine lugter frisk og føles som om den er blevet løftet."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
    </article>
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("polishing.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }

  .hero_items {
    grid-row: 2/3;
    margin-left: 1rem;
  }

  .hero_index p {
    display: none;
  }

  .testimonials {
    display: none;
  }

  /*---- BUTTON -----*/
  .btn {
    display: inline-block;
    padding: 8px 40px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .cta {
    background-color: var(--accent-color);
  }
  .cta a {
    color: var(--contrast-color);
  }

  .ghost {
    border: 2px solid var(--accent-color);
  }
  .ghost a {
    color: var(--primary-background-color);
  }

  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 2rem 0;
      max-width: 35ch;
    }

    .hero_index {
      grid-template-columns: 1fr 2fr;
    }

    .hero_items {
      grid-column: 2/3;
      align-self: end;
    }

    .testimonials {
      display: flex;
      text-align: center;
      padding: 3rem;
      background-color: var(--contrast-color);
    }
    .testimonials img {
      width: 30px;
      align-self: center;
      margin-top: 1rem;
    }

    .testimony {
      display: flex;
      flex-direction: column;
      color: var(--primary-background-color);
      padding: 0 2rem;
    }
  }
</style>

<div class="pakke_container">
  <div class="pakke">
    <h2>BRONZE</h2>
  </div>
  <div class="pakke">
    <h2>SØLV</h2>
  </div>
  <div class="pakke">
    <h2>GULD</h2>
  </div>
  <div class="pakke">
    <h2>PLATINIUM</h2>
    <div class="icon_bg">
      <img class="icon" src="/public/vector.svg" alt="" />
    </div>
    <p class="pris">DKK 365,- / 1 TIME</p>
    <div class="btn"><a href="">LÆS MERE</a></div>
  </div>
</div>

<style>
  .pakke_container {
    display: flex;
    justify-content: space-around; /* Distributes the cards evenly */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if necessary */
    gap: 20px; /* Adds space between the cards */
    padding: 20px;
    background-color: #ffffff; /* Background color for the container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .pakke {
    background-color: var(--contrast-color);
    color: #ffffff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 12rem;
    box-sizing: border-box;
    text-align: center;
    height: 21rem;
  }

  .icon_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 9rem;
    border-radius: 18px;
    margin-top: 1rem;
  }

  h2 {
    color: var(--accent-color);
  }

  .icon {
    align-items: center;
    width: 70%;
  }

  .pris {
    margin-top: 1rem;
    white-space: nowrap;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-top: 2rem;
    background-color: var(--accent-color);
    border-radius: 8px;
    height: 2rem;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
</style>
