---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Copenhagen Detailing" />
<section>
    <div class="pakke_container">
    <div class="pakke">
        <h2>PLATINIUM</h2>
        <div class="icon_bg">
            <img class="icon" src="/public/vector.svg" alt="">
        </div>
        <p class="pris">DKK 365,- / 1 TIME</p>
        <div class="btn"><a href="">LÆS MERE</a></div>
    </div>
    
</div>
</section>
<section>
  
    <div class="img_container">
        
            <h1 class="om_h1">Om Andreas</h1>
            <img class="andreas" src="/public/andreas.avif" alt="">
              
           <div class="txt"><p class="om_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> <br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                
            </p>
            </div>
        <div class="btn2"><a href="">LÆS MERE</a></div>

        

    </div>
</section>
<section class="s3">
    <div>
        <h1 class="nyheder_h1">LÆS NYHEDER HOS OS</h1>
        <h2 class="nyheder_h2">HØR MERE OM VORES SERVICE</h2>
        <div class="btn">KLIK HER<a href=""></a></div>
    </div>
<div class="container">
    <div class="skygge">
        <img class="img1" src="/public/vector1.svg" alt="">
        <h2>SKAL DIN BIL TIL SYN?</h2>
        <p>Få grundig service på din bil inden bilsyn for at undgå problemer.</p>

    </div>

    <div class="skygge">
        <img class="img1" src="/public/vector2.svg" alt="">
        <h2>SKAL DIN BIL BESKYTTES?</h2>
        <p>Vores coating beskytter din bil og det sikre, at den klarer sig gennem det meste.</p>

    </div>

    <div class="skygge">
        <img class="img1" src="/public/vector3.svg" alt="">
        <h2>OLIE OG DÆKSKIFT?</h2>
        <p>Vi tilbyder hurtig og effektiv olie-og dækskift til konkurrence dygtige priser.</p>
    </div>
    
</div>
 </div>
</section>


<style>
    .pakke_container{
    display: flex;
    justify-content: space-around; /* Distributes the cards evenly */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if necessary */
    gap: 20px; /* Adds space between the cards */
    padding: 20px;
    background-color: #ffffff; /* Background color for the container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .pakke{
     background-color: var(--contrast-color);
    color: #ffffff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 16rem;
    box-sizing: border-box;
    text-align: center;
    height: 25rem;
    }

    .icon_bg{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        height: 15rem;
        border-radius: 18px;
        margin-top: 1rem;

    }

    h2{
color: var(--accent-color);
    }
    
    .icon{
        align-items: center;
        width: 70%;
    }

.pris{
    margin-top: 1rem;
    white-space: nowrap;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-top: 1rem;
    background-color: var(--accent-color);
    border-radius: 8px;
    height: 2rem;
}

a{
    text-decoration: none;
    color: #000000;

}

/* card slut */

.img_container{
background-color: var(--contrast-color);
padding: 1rem;
}

.img_container h1, .img_container p {
    color: var(--primary-background-color);
}

.txt_btn{
    background-color: var(--contrast-color);
    color: #ffffff;
    padding: 2rem;
}

.om_h1{
    text-align: center;
    font-size: 3rem;
}
.om_p{
    margin-top: 3rem;
}

.btn2{
text-align: center;
color: #ffffff;
margin-top: 2rem;
}
/* om andreas slut*/

.s3{
    padding: 2rem;
}

.nyheder_h1{
    font-size: 3rem;
}
.nyheder_h2{
    color: #000000;
    margin-top: 1rem;
}
.img1{
    width: 30%;
}
.skygge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 1rem;
    padding: 4rem;
    box-shadow:10px 10px 15px rgba(0, 0, 0, 0.3); /* Eksempel på skygge */;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skygge h2{
    color: #000000;
}

@media(min-width:800px){

.img_container{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 3fr ;
padding: 2rem;
}

.img_container img {
grid-row: 1/5;
}

.img_container h1 {
    text-align: left;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 3rem;
}

.txt {
    grid-row: 3/4;
    padding-right: 5rem;
}
.btn2{
    text-align: left;
    grid-row: 4/5;
    grid-column: 1/2;
    
}

/* om andreas slut*/



.container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.nyheder_h1,
.nyheder_h2{
    text-align: center;
}
    
}
</style>