---
import MainLayout from "../layouts/MainLayout.astro";
import LogoBar from "../components/LogoBar.astro";
import PakkeCard from "../components/PakkeCard.astro";
import Img_slider from "../components/Img_slider.astro";
import Text_box from "../components/Text_box.astro";

const data = await fetch("https://cpfdvhmcyoaqdogvqgow.supabase.co/rest/v1/pakker?order=id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZmR2aG1jeW9hcWRvZ3ZxZ293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1Mzg2ODcsImV4cCI6MjAzMjExNDY4N30.y9HAllaBKICo_O4VFd_a5PqpeNenzQvRYlsBkHt2Iqg",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout title="Copenhagen Detailing">
  <main>
    <article class="hero_index">
      <div class="hero_items">
        <h1>FORLÆNG DIN BILS LEVETID</h1>
        <p>Komplet bilpleje, der beskytter og fornyer din bils udseende og værdi!</p>
        <div class="btn cta"><a href="/contact">KONTAKT OS OG HØR MERE</a></div>
        <div class="btn ghost"><a href="/contact">SERVICES VI TILBYDER</a></div>
      </div>
    </article>
    <div class="logobar"><LogoBar /></div>
    <article class="testimonials">
      <div class="testimony">
        <p>"Fantastisk udvendig rengøring! Bilen ser helt ny ud efter behandlingen."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
      <div class="testimony">
        <p>"Rat og dashboard rengøringen gjorde en stor forskel! Det føles som om jeg kører i en helt ny bil."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
      <div class="testimony">
        <p>"Interiørplejen var en game changer! Kabine lugter frisk og føles som om den er blevet løftet."</p>
        <img src="testimony.avif" alt="testimonyicon" />
      </div>
    </article>
    <div class="max_width">
      <section>
        <Text_box />
      </section>
      <section>
        <div class="pakker scroll_animation">
          <h2>PAKKELØSNINGER</h2>
          <p>Vi tilbyder bilplejepakker i Bronze, Sølv, Guld og Platin. Vælg din perfekte pleje!</p>
        </div>
        <article class="pakkelist">
          {
            data.map((pakke) => {
              return <PakkeCard data={pakke} />;
            })
          }
        </article>
      </section>
      <section>
        <div class="img_container box_shadow scroll_animation">
          <h2 class="om_h1">Om Andreas</h2>
          <img class="andreas" src="andreas.avif" alt="" />

          <div class="txt">
            <p class="om_p">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br /><br />
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              <br />
              <br />
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="btn cta_dark"><a href="/about">LÆS MERE</a></div>
          </div>
        </div>
      </section>
      <section class="s3">
        <div class="news scroll_animation">
          <h2 class="nyheder_h1">LÆS NYHEDER HOS OS</h2>
          <h3 class="nyheder_h2">HØR MERE OM VORES SERVICE</h3>
          <div class="btn cta_dark"><a href="/service">KLIK HER</a></div>
        </div>
        <div class="container scroll_animation">
          <div class="skygge">
            <img class="img1" src="vector1.svg" alt="" />
            <h2>SKAL DIN BIL TIL SYN?</h2>
            <p>Få grundig service på din bil inden bilsyn for at undgå problemer.</p>
          </div>

          <div class="skygge">
            <img class="img1" src="vector2.svg" alt="" />
            <h2>SKAL DIN BIL BESKYTTES?</h2>
            <p>Vores coating beskytter din bil og det sikre, at den klarer sig gennem det meste.</p>
          </div>

          <div class="skygge">
            <img class="img1" src="vector3.svg" alt="" />
            <h2>OLIE OG DÆKSKIFT?</h2>
            <p>Vi tilbyder hurtig og effektiv olie-og dækskift til konkurrence dygtige priser.</p>
          </div>
        </div>
      </section>
    </div>
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("/polishing.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }

  .hero_items {
    grid-row: 2/3;
    margin-left: 1rem;
  }

  .hero_index p {
    display: none;
  }

  .testimonials {
    display: none;
  }

  .pakker {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .pakker h2 {
    margin-bottom: 1rem;
  }

  .pakkelist {
    display: grid;
    gap: 20px;
    justify-content: center;
  }

  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 2rem 0;
      max-width: 35ch;
    }

    .hero_index {
      grid-template-columns: 1fr 1fr 2fr;
    }

    .hero_items {
      grid-column: 2/4;
      align-self: end;
    }

    .testimonials {
      display: flex;
      text-align: center;
      padding: 3rem;
      background-color: var(--contrast-color);
    }
    .testimonials img {
      width: 30px;
      align-self: center;
      margin-top: 1rem;
    }

    .testimony {
      display: flex;
      flex-direction: column;
      color: var(--primary-background-color);
      padding: 0 2rem;
    }

    .logobar {
      display: none;
    }

    .pakkelist {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1000px;
      margin: auto;
    }
  }

  .img_container {
    /* background-color: var(--contrast-color); */
    border-radius: 15px;
  }

  .img_container img {
    align-self: center;
  }

  .txt_btn {
    background-color: var(--contrast-color);
    color: #ffffff;
    padding: 2rem;
  }

  .om_p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /* om andreas slut*/

  .nyheder_h2 {
    color: #000000;
    margin-top: 1rem;
  }
  .img1 {
    width: 60px;
    height: auto;
  }
  .skygge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 2rem;
  }

  .news > div {
    text-align: center;
    max-width: 200px;
    margin: 2rem auto;
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news h2 {
    text-align: center;
  }
  @media (min-width: 800px) {
    .img_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem;
      gap: 20px;
    }

    .img_container img {
      grid-row: 1/2;
    }

    .img_container h2 {
      text-align: left;
      grid-row: 1/2;
      grid-column: 1/2;
    }

    .txt {
      grid-row: 1/2;
      grid-column: 1/2;
      margin-top: 2rem;
    }

    /* om andreas slut*/

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
    }

    .nyheder_h1,
    .nyheder_h2 {
      text-align: center;
    }
  }
</style>
