---
import MainLayout from "../layouts/MainLayout.astro";
import LogoBar from "../components/LogoBar.astro";
import DropDown from "../components/DropDown.astro";

const data = await fetch("https://cpfdvhmcyoaqdogvqgow.supabase.co/rest/v1/services?order=id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZmR2aG1jeW9hcWRvZ3ZxZ293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1Mzg2ODcsImV4cCI6MjAzMjExNDY4N30.y9HAllaBKICo_O4VFd_a5PqpeNenzQvRYlsBkHt2Iqg",
  },
}).then((res) => res.json());
---

<MainLayout title="Service">
  <main>
    <section class="hero_index">
      <div class="hero_items">
        <h1>VI GØR DIN BIL SÅ GOD SOM NY!</h1>
        <p>Hos Copenhagen Detailing tilbyder vi service i topkvalitet!</p>
        <div class="btn cta"><a href="#">SE HVAD VI TILBYDER HER</a></div>
      </div>
    </section>
    <LogoBar />

    <article class="servicelist">
      {
        data.map((service) => {
          return <DropDown data={service} />;
        })
      }
    </article>
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("carwheelclean.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }

  .hero_index img {
    filter: brightness(50%);
  }

  .hero_items {
    grid-row: 2/3;
    margin-left: 1rem;
  }

  .hero_index p {
    display: none;
  }

  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 2rem 0;
    }

    .hero_index {
      grid-template-columns: 1fr 8fr;
    }

    .hero_items {
      grid-column: 2/3;
    }
  }
</style>
