---
import MainLayout from "../layouts/MainLayout.astro";
import LogoBar from "../components/LogoBar.astro";
import DropDown from "../components/DropDown.astro";
import ServiceBox from "../components/Service_box.astro";
import PakkeCardService from "../components/PakkeCardService.astro";

const data = await fetch("https://cpfdvhmcyoaqdogvqgow.supabase.co/rest/v1/services?order=id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZmR2aG1jeW9hcWRvZ3ZxZ293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1Mzg2ODcsImV4cCI6MjAzMjExNDY4N30.y9HAllaBKICo_O4VFd_a5PqpeNenzQvRYlsBkHt2Iqg",
  },
}).then((res) => res.json());

const datapakke = await fetch("https://cpfdvhmcyoaqdogvqgow.supabase.co/rest/v1/pakker?order=id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwZmR2aG1jeW9hcWRvZ3ZxZ293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1Mzg2ODcsImV4cCI6MjAzMjExNDY4N30.y9HAllaBKICo_O4VFd_a5PqpeNenzQvRYlsBkHt2Iqg",
  },
}).then((res) => res.json());
---

<MainLayout title="Service">
  <main>
    <article class="hero_index">
      <div class="hero_items">
        <h1>RENERE END ALDRIG FØR</h1>
        <p>Hos Copenhagen Detailing tilbyder vi service i topkvalitet!</p>
        <div class="btn cta"><a href="#">SE HVAD VI TILBYDER HER</a></div>
      </div>
    </article>
    <LogoBar />
    <div class="max_width">
      <section>
        <ServiceBox />
      </section>

      <section>
        <div class="pakker scroll_animation">
          <h2>PAKKELØSNINGER</h2>
          <p>Vi tilbyder bilplejepakker i Bronze, Sølv, Guld og Platin. Vælg din perfekte pleje!</p>
        </div>
        <article class="pakkelist">
          {
            datapakke.map((pakke) => {
              return <PakkeCardService datapakke={pakke} />;
            })
          }
        </article>
      </section>

      <section>
        <h2 class="scroll_animation">SEPARATE SERVICES</h2>
        <article class="servicelist">
          {
            data.map((service) => {
              return <DropDown data={service} />;
            })
          }
        </article>
      </section>
    </div>
  </main>
</MainLayout>

<style>
  .hero_index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image: url("/carwheelclean.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: var(--primary-background-color);
    background-attachment: fixed;
  }

  .hero_index img {
    filter: brightness(50%);
  }

  .hero_items {
    grid-row: 2/3;
    margin-left: 1rem;
  }

  .hero_index p {
    display: none;
  }

  .pakkelist {
    display: grid;
    gap: 20px;
    justify-content: center;
  }

  .pakker {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 800px) {
    .hero_index p {
      display: block;
      margin: 2rem 0;
    }

    .hero_index {
      grid-template-columns: 1fr 8fr;
    }

    .hero_items {
      grid-column: 2/3;
    }

    .pakkelist {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1000px;
      margin: auto;
    }
  }
</style>
