---

---

<div class="parent box_shadow scroll_animation">
  <div class="left_column">
    <h2>ANDREAS BROHOLM</h2>
    <div class="listing icon">
      <img class="guld_ikon" src="/tlf1.png" alt="" />
      <a href="tel:+45 25 55 66 04"><p>+45 25 55 66 04</p></a>
    </div>
    <div class="listing icon">
      <img class="guld_ikon" src="/mail1.png" alt="" />
      <a href="mailto:CopenhagenDetailing@gmail.com"><p>CopenhagenDetailing@gmail.com</p></a>
    </div>
    <div class="listing">
      <p class="tider"><strong>Åbningstider:</strong></p>
    </div>
    <div class="listing">
      <ul>
        <li><p>Mandag: 08 – 17</p></li>
        <li><p>Tirsdag: 08 – 17</p></li>
        <li><p>Onsdag: 08 – 17</p></li>
        <li><p>Torsdag: 08 – 17</p></li>
        <li><p>Fredag: 08 – 17</p></li>
      </ul>
    </div>
    <div class="listing">
      <p><strong>Weekend:</strong> Efter aftale</p>
      <p><strong>Helligdage:</strong> Efter aftale</p>
    </div>
    <div class="listing"></div>
  </div>
  <div class="right_column">
    <img src="/andreas.avif" alt="andreas" />
  </div>
</div>

<style>
  .left_column ul {
    list-style-type: none;
  }
  .tider {
    margin-top: 5px;
  }
  .guld_ikon {
    width: auto;
    height: 18px;
    margin-right: 1rem;
  }
  .listing {
    margin-bottom: 1rem;
  }

  .icon {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: underline;
    color: var(--contrast-color);
  }

  @media (min-width: 800px) {
    .parent {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
