---
const { data } = Astro.props;
---

<div class="pakke">
  <h3>{data.pakke}</h3>
  <div class="icon_bg">
    <img class="icon" src="/vector.svg" alt="" />
  </div>
  <p class="pris"><span>{data.price}</span> / <span>{data.time}</span></p>
  <div class="btn cta"><a href={`/pakker/${data.id}`}>LÆS MERE</a></div>
</div>

<style>
  .pakke {
    background-color: var(--contrast-color);
    color: #ffffff;
    padding: 2rem;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
  }

  .icon_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 4rem 1rem;
    border-radius: 18px;
    margin-top: 1rem;
  }

  h3 {
    color: var(--accent-color);
  }

  .icon {
    align-items: center;
    width: 70%;
  }

  .pris {
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
</style>
