---

---

<article>
  <div class="parent scroll_animation box_shadow">
    <div class="left_column">
      <h2>SERVICES</h2>
      <div class="listing">
        <p>Copenhagen Detailing har skræddersyet fire pakkeløsninger for dig, til ethvert behov.</p>
      </div>
      <div class="listing">
        <p>De er en sammensætning af udvalgte services. Ved at vælge vores pakkeløsninger kan du spare du op til 30%!</p>
      </div>
      <div class="listing">
        <p>Udover vores pakkeløsninger kan du se alle de services vi tilbyder seperat nedenfor.</p>
      </div>

      <div class="btn cta_dark"><a href="/contact">KLIK HER OG LÆS MERE</a></div>
    </div>
    <div class="right_column">
      <img src="/servicegrid.avif" alt="service" />
    </div>
  </div>
</article>

<style>
  p {
    margin: 2rem 0;
  }

  .btn {
    margin-bottom: 2rem;
  }

  @media (min-width: 800px) {
    .parent {
      /* gap: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      position: relative; */

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .listing {
      font-size: 20px;
      margin-top: 30px;
    }

    .right_column img {
    }
  }
</style>
