---

---

<article>
  <div class="parent">
    <div class="left_column">
      <h1>SERVICES</h1>
      <div class="listing">
        <p>
          Copenhagen Detailing har skræddersyet fire pakkeløsninger for dig, til
          ethvert behov.
        </p>
      </div>
      <div class="listing">
        <p>
          De er en sammensætning af udvalgte services. Ved at vælge vores
          pakkeløsninger kan du spare du op til 30%!
        </p>
      </div>
      <div class="listing">
        <p>
          Udover vores pakkeløsninger kan du se alle de services vi tilbyder
          seperat nedenfor.
        </p>
      </div>

      <div class="btn cta"><a href="/contact">KLIK HER OG LÆS MERE</a></div>
    </div>
    <div class="right_column">
      <img src="DSC00043 1.png" alt="" />
    </div>
  </div>
</article>

<style>
  @media (min-width: 600px) {
    .parent {
      gap: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .left_column {
      padding-top: 0rem;
      padding-left: 4rem;
      padding-right: 4rem;
      padding-bottom: 4rem;
    }
    .left_column h1 {
      font-size: 45px;
      margin: 0;
    }
    .left_column ul {
      list-style-type: none;
      padding-left: 0;
    }
    p {
      max-width: 40ch;
    }
    .listing {
      font-size: 20px;
      margin-top: 30px;
    }
    .right_column {
      display: flex;
    }
    .right_column img {
      width: 525px;
      height: auto;
    }
  }
  @media (max-width: 600px) {
    .parent {
      gap: 13px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .left_column h1 {
      font-size: 30px;
      margin: 0;
    }
    .left_column ul {
      list-style-type: none;
      padding-left: 0;
    }

    .listing {
      font-size: 20px;
      margin-top: 5px;
    }
    .left_column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .right_column img {
      width: 100%;
      margin: 0 auto;
      padding: 10px 0 5px 0;
    }
    p {
      max-width: 30ch;
      text-align: center;
    }
  }
</style>
