* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

:root {
  --primary-background-color: #f1eee7;
  --contrast-color: #121e2d;
  --accent-color: #c3a05b;
}

body {
  background-color: var(--primary-background-color);
}

/*------ FONTS ------- */

@font-face {
  font-family: "latoregular";
  src: url("/public/lato_font/lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "din_alternatebold";
  src: url("/public/dinalternate_font/dinalternate-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.max_width {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: "din_alternatebold";
  font-size: 5rem;
}

h2 {
  font-family: "din_alternatebold";
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
h3 {
  font-family: "din_alternatebold";
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: "latoregular";
  font-size: 1.2rem;
  line-height: 28px;
}

a {
  text-decoration: none;
  font-family: "din_alternatebold";
}

section {
  margin: 5rem 0;
}

/*---- BUTTON -----*/
.btn {
  display: inline-block;
  padding: 8px 40px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cta {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: 0.5s;
}

.cta a {
  color: var(--contrast-color);
  transition: 0.5s;
}

.cta_dark {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: 0.5s;
}

.cta_dark a {
  color: var(--contrast-color);
}

.ghost {
  border: 1px solid var(--accent-color);
  transition: 0.5s;
}
.ghost a {
  color: var(--primary-background-color);
  transition: 0.5s;
}

@media (min-width: 800px) {
  .cta:hover {
    background-color: transparent;
    border: 1px solid var(--accent-color);
  }

  .cta:hover a {
    color: var(--primary-background-color);
  }

  .cta_dark:hover {
    background-color: transparent;
  }

  .ghost:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

  .ghost:hover a {
    color: var(--contrast-color);
  }

  .box_shadow {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 2rem;
  }
}

/*----- ANIMATION -----*/

.scroll_animation {
  opacity: 0;
  transition: 1.8s;
}

.fade_in {
  opacity: 1;
}
