* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

:root {
  --primary-background-color: #f1eee7;
  --contrast-color: #121e2d;
  --accent-color: #c3a05b;
}

body {
  background-color: var(--primary-background-color);
}

/*------ FONTS ------- */

@font-face {
  font-family: "latoregular";
  src: url("/public/lato_font/lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "din_alternatebold";
  src: url("/public/dinalternate_font/dinalternate-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "din_alternatebold";
  font-size: 5rem;
}

h2 {
  font-family: "din_alternatebold";
}
h3 {
  font-family: "din_alternatebold";
}

p {
  font-family: "latoregular";
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  font-family: "din_alternatebold";
}

/*---- BUTTON -----*/
.btn {
  display: inline-block;
  padding: 8px 40px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.cta {
  background-color: var(--accent-color);
}
.cta a {
  color: var(--contrast-color);
}

.ghost {
  border: 2px solid var(--accent-color);
}
.ghost a {
  color: var(--primary-background-color);
}
