---
const { title } = Astro.props;
import "../css/general.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Forside</a></li>
          <li><a href="/service">Service</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/about">Om os</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </nav>
    </header>
    <slot />
    <footer></footer>
  </body>
</html>
