---

---

<header class="site-header">
  <img class="logo" src="logofullname.avif" alt="" />
  <nav>
    <ul>
      <li><a href="/service">SERVICE</a></li>
      <li><a href="/contact">KONTAKT</a></li>
      <li><a href="/about">OM OS</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
</header>

<style>
  .site-header {
    clear: both;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    text-decoration: none;
    border-bottom: 1px solid #f1eee7;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  .logo {
    display: flex;
    width: 492px;
    height: 52px;
    flex-shrink: 0;
    margin: 35px;
  }

  ul li {
    display: flex;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  a {
    padding: 50px;
    text-decoration: none;
    color: #ece7de;
    font-size: 19px;
  }
</style>
